.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tshirt-header {
  display: inline-block;
  margin-left:-30rem;
}

.container-right {
  width: 94rem;
}

.tshirt-content {
  display: inline-block;
  margin-left: -34rem;
}

ul {
  display: inline-block;
  margin-right:16.4px;
}

.description {
  display: inline-block;
  margin-left: -28rem;
}

.color-button {
  display: inline-block;
}

.size-buttons {
  margin-left: 12rem;
}